@Scripts.Render("~/bundles/jquery")
@Styles.Render("~/Content/DatePicker")
@Scripts.Render("~/bundles/DatePicker")

@{
    ViewBag.Title = "Importação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>



<script>
    $.fn.datepicker.defaults.format = "mm/yyyy";
    $.fn.datepicker.noConflict();
</script>


@using (Html.BeginForm("Importa", "ImportacaoContraCheque", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class=" panel panel-default pesquisa-contracheque">
        <input type="file" id="fileToUpload" name="file" required="" />


        <h5>Insira os Contra-cheques </h5>
        <input data-provide="datepicker" class="btn btn-default btn-lg" value="Mês/Ano" name="competencia" id="competencia" type="text" required="">


        <span class="field-validation-error" id="spanfile"></span>
        <input type="submit" id="btnSubmit" value="Upload" />
    </div>
}

