@using CWI.ContraCheque.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body background="~/Content/Images/swirl_pattern.png">
    <div class="container Box1">
        <section id="loginForm">
                <div class="Box2">
                    <div>
                        <img src="~/Content/Images/cwi_logo.png" alt="CWI Software Login" align="middle">
                    </div>

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <br>
                        <label for="inputEmail" class="sr-only">Login</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
                        <br>
                        <label for="inputPassword" class="sr-only">Senha</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
                        <br>
                        <button class="btn btn-lg btn-primary BotaoLogin" type="submit" style="margin-bottom:30px;">Entrar</button>
                        <br>
                    }
                </div>
        </section>
    </div>
</body>
</html>