.contra-cheque {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px #fff;
    float: right;
}

.pesquisa-contracheque {
    padding: 10px;
    width: 20%;
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px #fff;
    float: left;
}

.organiza-divs {
    padding-top: 40px;
    width: auto;
    height: auto;
}
